[build]
  command = "npm run build"
  publish = ".output/public"

[functions]
  directory = ".output/server"
  node_bundler = "esbuild"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"

[build.environment]
  NODE_VERSION = "20"